:root {
  --first-color: #ffffff
}

.navbar {
  background-color: var(--first-color);
  max-width: 100%;
  height: 80px;
  padding: 0 12% 0 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
}

.navbar__hamburguer__button {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0 9% 0 9%;
    height: 50px;
  }

  .navbar__buttons {
    display: none;
  }

  .navbar__hamburguer__button {
    display: flex;
  }

}
