<nav>
  <div class="navbar">
    <div class="navbar__logo">
      <app-navlogo></app-navlogo>
    </div>
    <div class="navbar__buttons">
      <app-navbutton [text]="'Projects'"></app-navbutton>
      <app-navbutton [text]="'About me'"></app-navbutton>
      <app-navbutton [text]="'Contact'"></app-navbutton>
    </div>
    <app-navhamburguerbutton
      (toggleHamburgerCheckEvent)="notifyLayoutComponent($event)"
      class="navbar__hamburguer__button">
    </app-navhamburguerbutton>
  </div>
</nav>
