<nav>
  <div class="navbar">
    <div class="navbar__logo">
      <app-navlogo></app-navlogo>
    </div>
    <div class="navbar__buttons">
      <app-navbutton [text]="'Projects'"></app-navbutton>
      <app-navbutton [text]="'About me'"></app-navbutton>
      <app-navbutton [text]="'Contact'"></app-navbutton>
    </div>
    <app-navhamburguerbutton class="navbar__hamburguer__button" (toggleHamburgerCheckEvent)="toogleCheck($event)">
    </app-navhamburguerbutton>
  </div>
</nav>
<app-slidemenu [isVisible]="slideMenuIsVisible"></app-slidemenu>
