.navbutton {
  padding: 12px;
  background-color: #9273FA;
  color: #FFFFFF;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}

.navbutton:hover {
  background-color: #7159C1;
}
