.navbutton {
  background-color: #9273FA;
  border-color: #9273FA;
  border-radius: 11px;
  color: #FFFFFF;
  justify-content: center;
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 8px;

  &:hover {
    background-color: #7159C1;
  }
}
