.project__card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 10px;
  margin-bottom: 45px;
  border: 3px solid;
  border-color: #7159c1;
  background-color: #9273FA;
  border-radius: 15px;
}

.project__card__image {
  height: 150px;
  width: 150px;
}

.project__card__description {
  color: #FFF;
  font-size: 1rem;
  font-family: 'Poppins-Bold';
  text-align: center;
}
