<div class="project__card">
  <span class="project__card__name">{{ this.projectName }}</span>
  <img class="project__card__image" [src]="this.projectThumbnail" alt="imagem do projeto" />
  <span class="project__card__description">{{ this.projectDescription }}</span>
  
  <div class="project__card__footer">
    
    <!-- transformar em um componente -->
    <a [href]="this.githubRepo" target="_blank">
      <button class="project__card__button">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub"
          class="project__card__button__icon">
        Code
      </button>
    </a>

    <!-- transformar em um componente -->
    <a [href]="this.hostedIn" target="_blank">
      <button class="project__card__button">
        Go to
      </button>
    </a>
  </div>
</div>