.project__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 400px;
  padding: 10px;
  margin-bottom: 45px;
  border: 3px solid;
  border-color: #7159c1;
  background-color: #9273fa;
  border-radius: 15px;
}

.project__card__name {
  color: #fff;
  font-size: 2rem;
  font-family: "Poppins-Bold";
  text-align: center;
  padding: 20px;
}

.project__card__image {
  height: 200px;
  width: 200px;
  padding: 20px;
}

.project__card__description {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins-Bold";
  text-align: center;
  padding: 20px;
}

.project__card__githubRepo {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins-Bold";
  text-align: center;
}
.project__card__hostedIn {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins-Bold";
  text-align: center;
}
.project__card__technologiesUsed {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins-Bold";
  text-align: center;
}

.github-btn {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px; /* Ajuste o tamanho da fonte para um estilo mais balanceado */
}

.github-btn:hover {
  background-color: #444;
}

.github-icon {
  width: 16px;  /* Reduzido o tamanho do ícone */
  height: 16px; /* Reduzido o tamanho do ícone */
  margin-right: 8px;
}


@media screen and (max-width: 900px) {
  .project__card {
    width: 300px;
    height: 150px;
  }

  .project__card__image {
    height: 100px;
    width: 100px;
  }
}
